// Code

group Common

  source http://nuget.org/api/v2

  nuget Chiron
  nuget Microsoft.Owin.SelfHost

group Async

  source http://nuget.org/api/v2

  nuget Freya                  ~> 3.0.0-rc
  nuget Freya.Polyfills.Katana ~> 3.0.0-rc

group Hopac

  source http://nuget.org/api/v2

  nuget Freya.Hopac                  ~> 3.0.0-rc
  nuget Freya.Polyfills.Katana.Hopac ~> 3.0.0-rc
